---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";
import Badge from "@/components/Badge.astro";

import { aventura } from "@/consts/pageTitles";

const tours = (await getCollection("tours")).filter(
  (tour) => tour.data.category.toLowerCase() === "aventura",
);

const description =
  "Explora Perú con nuestros tours de aventura: trekking, montañas, lagunas y experiencias únicas en contacto con la naturaleza.";
const canonical = "https://turismoperu.com.pe/aventura";
---

<Layout title={aventura} description={description} canonical={canonical}>
  <main class="max-w-7xl mx-auto px-4 py-10">
    <header
      class="max-w-2xl mx-auto pt-7 flex flex-col gap-5 mt-24 md:mt-48 mb-14"
    >
      <h1
        class="text-balance text-center text-5xl md:text-7xl tracking-tight mb-4"
      >
        Experiencias de Aventura en Perú
      </h1>
      <p class="text-lg text-pretty text-black mx-auto">
        Vive la emoción del Perú más extremo con caminatas, ciclismo, rafting y
        experiencias llenas de adrenalina en paisajes naturales únicos.
      </p>
    </header>
    <div
      class="max-w-2xl mx-auto flex flex-wrap gap-x-5 gap-y-3 items-center justify-center mb-14"
    >
      <Badge>Tours de Aventura</Badge>
      <Badge>Trekking en Perú</Badge>
      <Badge>Senderismo en los Andes</Badge>
      <Badge>Rafting y Kayak</Badge>
      <Badge>Ciclismo</Badge>
      <Badge>Excursiones de Aventura</Badge>
      <Badge>Rutas en Valle Sagrado</Badge>
      <Badge>Aventura Extrema</Badge>
      <Badge>Eco-Aventura</Badge>
      <Badge>Explora Machu Picchu</Badge>
    </div>

    <section class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
      {
        tours.map((tour) => (
          <Card
            title={tour.data.title}
            duration={tour.data.duration}
            category={tour.data.category}
            href={`/tours/${tour.slug}/`}
            image={tour.data.image}
            alt={tour.data.alt}
          />
        ))
      }
    </section>
  </main>
</Layout>
