---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "@/components/Card.astro";
import { cultural } from "@/consts/pageTitles";

const tours = (await getCollection("tours")).filter(
  (tour) => tour.data.category.toLowerCase() === "cultural"
);

const description =
  "Descubre la riqueza cultural del Perú con tours que incluyen Cusco, Machu Picchu y experiencias auténticas en comunidades y sitios históricos.";
const canonical = "https://turismoperu.com.pe/cultural";
---

<Layout title={cultural} description={description} canonical={canonical}>
  <main class="max-w-7xl mx-auto px-4 py-10">
    <header
      class="max-w-2xl mx-auto pt-7 flex flex-col gap-5 mt-24 md:mt-48 mb-14"
    >
      <h1
        class="text-balance text-center text-5xl md:text-7xl tracking-tight mb-4"
      >
        Experiencias Culturales en Perú
      </h1>
      <p class="text-lg text-pretty text-black mx-auto">
        Sumérgete en nuestras Experiencias Culturales, Arte y Tradición,
        Patrimonio Inca, Tours Guiados, Museos, Cultura Andina, Tradiciones
        Vivas, Festividades Locales y la impresionante Arquitectura Colonial.
      </p>
    </header>
    <section
      class="grid gap-4 md:grid-cols-2 lg:grid-cols-3"
      aria-label="Tours Culturales"
    >
      {
        tours.map((tour) => (
          <Card
            title={tour.data.title}
            duration={tour.data.duration}
            category={tour.data.category}
            href={`/tours/${tour.slug}/`}
            image={tour.data.image}
            alt={tour.data.alt}
          />
        ))
      }
    </section>
  </main>
</Layout>
