---
import TourCard from "@/components/Card.astro";

interface Props {
  tours: any[];
}

const { tours } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-5 lg:gap-6 mt-10">
  {
    tours.map((tour, i) => (
      <div
        class="animate-fade-in-up h-full"
        style={`animation-delay: ${(i + 1) * 100}ms`}
      >
        <TourCard
          title={tour.data.title}
          duration={tour.data.duration}
          category={tour.data.category}
          href={`/tours/${tour.id}`}
          image={tour.data.image}
          alt={tour.data.alt}
        />
      </div>
    ))
  }
</div>
