---
import { getCollection, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import WhatsAppButton from "@/components/WhatsAppButton.astro";

import { fixedTitle } from "@/consts/pageTitles";

const { id } = Astro.params;
if (!id) return Astro.redirect("/404");

export async function getStaticPaths() {
  const tours = await getCollection("tours");

  return tours.map((tour) => ({
    params: { id: tour.slug },
    props: { tour },
  }));
}

const { tour } = Astro.props;
const { data, slug } = tour;
const { title, duration, location, departure, description, image, alt } = data;

const { Content } = await render(tour);

const canonical = `https://www.turismoperu.com.pe/tours/${id}`;
export const prerender = true;
---

<Layout
  title={`${title} | ${fixedTitle}`}
  description={description}
  canonical={canonical}
>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Header -->

    <header
      class="relative w-full aspect-[1440/800] mb-12 mt-30 md:mt:24 overflow-hidden"
    >
      <!-- Imagen optimizada con Astro -->
      {
        image && (
          <Image
            src={image}
            alt={alt}
            widths={[640, 1024, 1440, 1920]}
            sizes="100vw"
            class="absolute inset-0 w-full h-full object-cover"
            decoding="async"
            loading="eager"
            fetchpriority="high"
          />
        )
      }

      <!-- Overlay oscuro -->
      <div class="absolute inset-0 bg-black/40"></div>

      <!-- Contenido centrado -->
      <div
        class="relative z-10 flex flex-col justify-center items-center h-full text-center px-4"
      >
        <h1 class="text-4xl md:text-5xl font-bold drop-shadow-lg text-white">
          {title}
        </h1>
        <p
          class="text-base md:text-lg opacity-90 drop-shadow-md mt-2 text-white"
        >
          {duration} | {location} | {departure}
        </p>
      </div>
    </header>

    <!-- Contenido -->
    <section class="">
      <Content />
      <WhatsAppButton />
    </section>
  </main>
</Layout>
